<ion-content>
  <div class="header">
    <ion-icon name="chevron-back-outline"></ion-icon>
    <h5>My Tasks</h5>
  </div>
  <div class="content">
    <div class="checkbox-container">
      <ion-checkbox></ion-checkbox>
      <label for="">Grade Assignments</label>
    </div>
    <div class="checkbox-container">
      <ion-checkbox></ion-checkbox>
      <label for="">Grade Assignments</label>
    </div>
    <div class="checkbox-container">
      <ion-checkbox></ion-checkbox>
      <label for="">Grade Assignments</label>
    </div>
    <ion-button fill="outline" class="ion-button">Add New Task</ion-button>
  </div>
</ion-content>