.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
    font-family: Poppins;
}
.header ion-icon{
    margin-top: 0.6rem;
}
.header h5{
    text-align: center;
    display: block;
    margin-left: auto;
    font-size: 1.3rem;
    margin-right: auto;
    font-weight: 600;
}
.content{
    padding: 1.7rem;
    background-color: rgba(0, 0, 0, 0.05);
}
.checkbox-container{
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.checkbox-container label{
    margin-left: 1rem;
    font-size: 1.2rem;
    font-family: Poppins;
}
.ion-button{
    margin-top: 2rem;
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.modal-header{
    padding: 1.2rem;
}
ion-fab{
    margin-right: 1rem;
    margin-bottom: 1rem;
}