.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
    font-family: Poppins;
}
.header ion-icon{
    margin-top: 0.6rem;
}
.header h5{
    text-align: center;
    display: block;
    margin-left: auto;
    font-size: 1.2rem;
    margin-right: auto;
}
.header h5 span{
    font-weight: 600;
}
.content{
    padding: 1.7rem;
    font-family: Poppins;
}
.item-container{
    width: 100%;
    padding: 0.7rem 1.4rem;
    font-size: 1.1rem;
    background-color: #D9D9D9;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
}
.item-container p span:nth-child(1){
    font-weight: 600;
}
.item-container p span{
    text-overflow: no-wrap;
}
.edit-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    font-size: 1.2rem;
    margin-top: 1.5rem;
}
.edit-container a:nth-child(3){
    color: red;
}
.edit-container hr{
    width: 1rem;
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    background-color: #D9D9D9;
    transform: rotate(90deg);
}