.header{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 2rem;
    padding: 1rem;
    font-family: Poppins;
}
.header ion-icon{
    margin-top: 0.6rem;
}
.header h5{
    text-align: center;
    display: block;
    margin-left: auto;
    font-size: 1.3rem;
    margin-right: auto;
    font-weight: 600;
}
.content{
    padding: 1.7rem;
    background-color: rgba(0, 0, 0, 0.05);
}
.checkbox-container{
    padding: 1rem;
    margin-bottom: 1rem;
}
.checkbox-container div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.checkbox-container div:nth-child(even){
    margin-top: 1rem;
    justify-content: space-evenly;
}
.checkbox-container label{
    margin-left: 1rem;
    font-size: 1.2rem;
    font-family: Poppins;
}
.ion-button{
    margin-top: 2rem;
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.radio-button{
    background-color: #fff;
    border: 1px solid #c4c4c4;
    width: 1.5rem;
    height: 1/5rem;
    border-radius: 50%;
}
.time-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2rem;
    justify-content: center;
}
.time-container p{
    margin-top: 1rem;
}
ion-datetime{
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    margin-bottom: 1.3rem;
}
ion-button{
    width: 87%;
}
