<ion-content>
  <div class="header">
    <ion-icon name="chevron-back-outline" (click)="goBack()"></ion-icon>
    <h5>Assignments</h5>
  </div>
  <div class="content">
    <div class="button-container" [id]="i" *ngFor="let assignment of assignments; let i=index" (click)="navigateToAssignmentDetail(i)">
      <span>
        <h5>{{assignment?.name}}</h5>
        <p>{{assignment.endDate}}</p>
      </span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end" class="float-button-container">
    <ion-fab-button (click)="navigateToAddAssignment()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>