<ion-content>
  <div class="header">
    <ion-icon name="chevron-back-outline"></ion-icon>
    <h5>All Modules</h5>
  </div>
  <div class="content">
    <div class="button-container" (click)="navigateToModule($event)" id="1">
      <span>
        <h5>999001</h5>
        <p>Dynamic Web Development</p>
      </span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="button-container" (click)="navigateToModule($event)" id="2">
      <span>
        <h5>999001</h5>
        <p>Dynamic Web Development</p>
      </span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
    <div class="button-container" (click)="navigateToModule($event)" id="3">
      <span>
        <h5>999001</h5>
        <p>Dynamic Web Development</p>
      </span>
      <ion-icon name="chevron-forward-outline"></ion-icon>
    </div>
  </div>
</ion-content>