<ion-menu contentId="main-content" *ngIf="showMenu">
  <ion-content class="ion-padding" color="primary">
    <ion-list lines="none">
      <ion-menu-toggle *ngFor="let p of appPages">
        <ion-item [routerLink]="p.url" routerDirection="forward" color="primary">
          <ion-label class="menu-label">{{ p.title }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-app>
    <ion-header *ngIf="showMenu">
      <ion-toolbar color="primary" class="menu-header">
        <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title (click)="navigateToHome()">GrangeMobile</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-tabs>
        <ion-tab-bar slot="bottom" *ngIf="showMenu" color="primary" class="menu-bottom">
          <ion-tab-button tab="home" routerLink="/home">
            <ion-icon name="home"></ion-icon>
            Home
          </ion-tab-button>
          <ion-tab-button tab="calendar" routerLink="/calendar">
            <ion-icon name="calendar"></ion-icon>
            Calendar
          </ion-tab-button>
          <ion-tab-button tab="modules" routerLink="/modules">
            <ion-icon name="book"></ion-icon>
            Modules
          </ion-tab-button>
          <ion-tab-button tab="tasks" routerLink="/tasks">
            <ion-icon name="list-outline"></ion-icon>
            Tasks
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>
    </ion-content>
  </ion-app>
</div>