<ion-content class="content" class="ion-padding">
    <ion-grid class="section-1">
        <ion-row class="ion-justify-content-around" (click)="openNotificationsPage()">
            <ion-col size="10">Notifications</ion-col>
            <ion-col size="1"><ion-icon name="notifications-circle-outline"></ion-icon></ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-around">
            <ion-col size="10">Mail Groups</ion-col>
            <ion-col size="1"><ion-icon name="arrow-forward-outline"></ion-icon></ion-col>
        </ion-row>
    </ion-grid>
    <p class="content-label">My Classes</p>
    <ion-grid class="section-2">
        <ion-row class="ion-justify-content-between">
            <ion-col size="4"><h1>Game Design</h1></ion-col>
            <ion-col size="3"><h1>EQ 201a</h1></ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-between">
            <ion-col size="6"><p>Upcoming lecturers</p></ion-col>
            <ion-col size="3"><p>Location</p></ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="section-3">
        <ion-row class="ion-justify-content-around">
            <ion-col size="5.2">
                <h1>2</h1>
                <p>Notes</p>
            </ion-col>
            <ion-col size="5.2">
                <div>
                    <h3>3</h3>
                    <p>Added</p>
                </div>
                <div>
                    <h3>2</h3>
                    <p>Unpublished</p>
                </div>
                <div>
                    <h3>13</h3>
                    <p>Submitted</p>
                </div>
                <p>Quiz</p>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid class="section-4">
        <ion-row class="ion-justify-content-between">
            <ion-col size="6">
                <p>Latest Assignment</p>
                <h5>{{assignment?.name}}</h5>
            </ion-col>
            <ion-col size="4">
                <ion-icon name="create-outline" (click)="onEditDate()"></ion-icon>
            </ion-col>
        </ion-row>
        <ion-row class="ion-justify-content-between">
            <ion-col size="6">
                <p>Due on:</p>
                <h5 *ngIf="!isEditDate">{{assignment?.endDate}}</h5>
                <ion-input type="date" *ngIf="isEditDate" [ngModel]="endDate | date:'y-MM-dd'" (ngModelChange)="onChangeAssignmentEndDate($event)"></ion-input>
            </ion-col>
            <ion-col size="4">
                <p class="section-4-p">{{this.diff}} days left</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>